.header-nav {
  height: 39px;
  background-color: var(--header-bg-secondary);
  display: flex;
  padding-left: 11px;
}

.header-nav__menu,
.header-nav__links {
  display: flex;
  color: #ffff;
  font-family: AmazonReg Arial, Helvetica, sans-serif;
  font-size: clamp(0.8rem, 0.63rem + 0.258vw, 0.875rem);
  align-items: center;
}

.header-nav-link {
  text-decoration: none;
  color: #ffff;
  padding: 3px 9px;
  letter-spacing: 0.25px;
  margin: 0;
}

.prime {
  display: flex;
  align-items: center;
}

.prime .MuiSvgIcon-root {
  font-size: 1rem;
}

.menu-text {
  padding-left: 5px;
  margin: 0;
}

.header-nav__menu {
  cursor: pointer;
  padding: 6px 9px;
  letter-spacing: 0.25px;
  margin: 5px 0 6px 0;
}

.header-nav__benefits {
  display: flex;
  align-items: center;
  margin-left: auto;
  height: 38px;
  overflow: hidden;
}
.header-nav__benefits:hover {
  border: 1px solid #ffff;
}

.header-nav-link,
.header-nav__menu,
.header-nav__benefits {
  border: 1px solid transparent;
  border-radius: 3px;
}
.header-nav-link:hover,
.header-nav__menu:hover {
  border: 1px solid #ffff;
}

@media (max-width: 1360px) {
  .header-nav__benefits {
    display: none;
  }
}

@media (max-width: 850px) {
  .header-nav__menu {
    display: none;
  }
  .header-nav__links a {
    white-space: nowrap;
  }
  .header-nav__links {
    overflow-x: scroll;
  }
}
