.success-container {
  padding: 14px 18px;
}

.success-wrapper {
  background: #dadada;
  border-radius: 10px;
  padding: 12px 12px;
}

.success-inner {
  background: #fff;
  padding: 20px 26px;
  border-radius: 10px;
  border: 1px #d5d9d9 solid;
  text-align: left;
}

.success-header {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 24px;
  color: #067d62;
}

.success-inner p {
  font-size: 14px;
}

.orderedItem-wrapper {
  background: #fff;
  display: flex;
  border-top: 1px solid #e7e7e7;
  padding: 14px 0;
  width: 60%;
}

.orderSummary,
.orderImage {
  flex: 1;
}

.deliveryDate {
  color: #067d62;
  font-weight: 600;
  margin-bottom: 0;
}

.imageWrapper {
  width: 60px;
  height: 60px;
  background: no-repeat center/contain;
}

.success-footer {
  color: #007185;
}
