.signIn-container {
  display: flex;
  align-items: center;
  background: #ffff;
  padding: 20px 0;
  height: 185px;
}

.signIn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 100%;
  border: solid 1px #dddd;
  border-radius: 10px;
}

.signIn-wrapper p {
  margin: 0;
  font-size: 11px;
}

.signIn-btn {
  width: 230px;
  align-self: center;
  border-radius: 5px;
  border: #e6a400;
  margin: 5px 0;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 0;
}

.signIn-wrapper span {
  margin-left: 10px;
}

.start-here a {
  color: #007185;
}

.start-here a:hover {
  color: #c7511f;
  text-decoration: underline;
}
