.products-container {
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "row-1"
    "row-2"
    "."
    ".";
}

.area1 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
  grid-area: "row-1";
  margin: 0 10px;
}

.ad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0 15px;
  height: 420px;
  width: 350px;
  background-color: white;
  z-index: 1;
  text-align: left;
}
