.dropDown-container {
  position: absolute;
  left: 0;
  top: 53px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* padding: 5px, 10px; */
  width: 100%;
  z-index: 5;
  align-items: center;
  border-radius: 3px;
}

.dropDown-container p {
  color: #131921;
  font-weight: 600;
  padding: 5px;
  margin: 0;
  text-align: center;
}

.dropDown-link {
  width: 100%;
  transition: ease-in-out;
}

.dropDown-link:not(:last-child) {
  border-bottom: 1px solid #d0d1d2;
}
.dropDown-container {
  display: none;
}

/* @media (max-width: 830px) {
  .dropDown-container {
    display: flex;
  }
} */
