.cart__container {
  display: flex;
  padding: 30px 15px;
}

.cart__wrapper {
  background: #eaeded;
  padding: 0 14px;
}

.cart__empty {
  height: 80%;
  background: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}
/* .cart__empty-wrapper {
  display: flex;
} */

#cart__empty-img {
  width: 40%;
  margin-right: 30px;
}

.cart-empty_signInUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 45px;
}

.cart-empty_signedIn {
  display: flex;
  /* align-items: center; */
}

.cart-empty_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-align: left;
}

.cart-empty_txt {
  font-size: 14px;
  text-align: left;
  margin: 0;
}

.cart-empty a {
  display: inline-block;
  text-decoration: none;
  color: #007185;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.cart-empty a:hover {
  text-decoration: underline;
}

.cart-empty__btns {
  margin: 16px 0;
  display: flex;
}

.cart-empty__btns button {
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  height: 31px;
  padding: 0 10px;
  font-size: 16px;
}

.signUp {
  margin-left: auto;
}

.cart-empty__btns a {
  width: auto;
}
.cart-signIn-btn {
  background: #ffd814;
  border: 1px solid #fcd200;
}
.cart-signIn-btn:hover {
  background: #e0be15;
}

.cart-signUp-btn {
  background: #fff;
  border: 1px solid #ddd;
  /* margin-left: 20px; */
}
.cart-signUp-btn:hover {
  background: #d6d6d6;
}

.cart-footer {
  padding: 15px;
}

.cart-footer p {
  font-size: 12px;
  text-align: left;
  margin: 0;
}

.cart-promo_container {
  margin-left: auto;
  margin-right: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 0 15px;
  height: 420px;
  width: 350px;
  background-color: white;
  z-index: 1;
  text-align: left;
}

.cart-items {
  text-align: left;
  width: 100%;
  background: #fff;
  padding: 16px;
}

.cart-items_header h2 {
  font-size: 28px;
  margin: 0;
}
.cart-items_header p {
  font-size: 14px;
  margin: 0;
}

#cart-items_price {
  text-align: right;
  color: #565959;
  margin: 0;
}

/* .cart-items_price {
  padding: 15px 0;
  display: flex;
  margin: 0;
} */

.cart-items_main {
  display: flex;
  align-items: center;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
  padding: 15px 0;
}

.cart-items_main h3 {
  font-size: 18px;
  line-height: 26px;
}

.cart-image-wrapper {
  display: flex;
  align-items: center;
}

.cart-item-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart-item_img {
  height: 180px;
  width: 248px;
  display: flex;
}

.cart-item_img img {
  height: 100%;
  margin: 0 auto;
}

.cart-item_info {
  align-self: flex-start;
  padding-right: 50px;
}

.cart-item_info-txt {
  font-size: 12px;
  color: #565959;
}

.cart-item_qty {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #f0f2f2;
  border: solid 1px #d5d9d9;
  width: fit-content;
  font-size: 13px;
  box-shadow: 0 2px 5px #0f111126;
  padding: 3px 20px 3px 5px;
  color: #0f1111;
  position: relative;
}

.cart-item_qty:hover {
  background: #d5d9d9b9;
}

.cart-item_qty-arrows {
  display: flex;
  flex-direction: column;
  padding: 0 3px;
  position: relative;
}

.cart-item_qty-up {
  position: absolute;
  transform: rotate(90deg);
  top: -14px;
  left: 10px;
  cursor: pointer;
  font-size: 12px;
}
.cart-item_qty-dwn {
  position: absolute;
  transform: rotate(-90deg);
  bottom: -15px;
  left: 10px;
  cursor: pointer;
  font-size: 12px;
}

.cart-item_qty-qty {
  font-size: 14px;
  font-weight: 700;
  padding-left: 5px;
}

.cart-item_delete {
  position: absolute;
  left: 85px;
  top: 50%;
  transform: translateY(-50%);
  color: #007185;
  cursor: pointer;
  border-left: solid 1px #ddd;
  padding-left: 10px;
}

.cart-item_delete:hover {
  text-decoration: underline;
}

.cart-item_value {
  font-size: 18px;
  font-family: AmazonBold;
  align-self: flex-start;
}

.cart-items_total {
  text-align: right;
  font-size: 18px;
}

#cart-items_total {
  font-family: AmazonBold;
}

.cart__aside {
  margin: 0 auto;
}

.cart__aside-buy {
  background: #fff;
  height: 140px;
  width: 350px;
  margin-bottom: 1rem;
  padding: 20px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-items_total {
  text-align: left;
  margin-bottom: 0.5rem;
}

.cart__aside-buy-btn {
  width: 100%;
  height: 31px;
  border-radius: 7px;
  background: #ffd814;
  border: solid 1px #fcd200;
  font-size: 13px;
}

.cart__aside-buy-btn:hover {
  background: #e9c201;
  border: solid 1px #e0bb01;
}

@media (max-width: 1075px) {
  #cart__empty-img {
    width: 60%;
    margin: 0 auto;
  }
  .cart-empty_signedIn {
    flex-direction: column;
  }

  .cart__aside {
    display: none;
  }
}

@media (max-width: 830px) {
  .cart__aside {
    display: none;
  }
}

@media (max-width: 660px) {
  .cart-item-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }

  .cart-item_value {
    margin-top: 1.5rem;
  }

  #cart-items_price {
    display: none;
  }

  .cart__aside-buy {
    width: 100%;
    padding-block: 0;
    padding-bottom: 30px;
    height: 90px;
  }

  .cart-items_total {
    text-align: center;
  }

  .cart__aside-buy-btn {
    min-width: 280px;
    width: 40%;
  }
}

@media (max-width: 500px) {
  .cart__empty {
    padding: 10px 20px;
  }
  #cart__empty-img {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .cart-empty_title {
    font-size: 20px;
  }
  .cart-empty_txt {
    font-size: 13px;
    margin-bottom: 1rem;
  }
  .cart-footer {
    padding: 10px;
    margin-bottom: 1rem;
  }
  .cart-footer p {
    font-size: 11px;
  }
  .cart__wrapper {
    height: 100%;
  }
  .cart__container {
    padding: 15px;
  }
  .cart-items_main {
    flex-direction: column;
  }
}
