.cart__wrapper {
  background: #eaeded;
  /* height: 375px; */
  padding: 14px;
  min-width: 998px;
}

.cart__empty {
  width: 80%;
  height: 80%;
  background: #fff;
  padding: 20px;
}
.cart__empty-wrapper {
  display: flex;
}

.cart__empty-wrapper img {
  height: 230px;
  margin-right: 30px;
}

.cart-empty_signInUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 45px;
}

.cart-empty_title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-bottom: 0;
  text-align: left;
}

.cart-empty_txt {
  font-size: 14px;
  text-align: left;
  margin: 0;
}

.cart-empty a {
  display: inline-block;
  text-decoration: none;
  color: #007185;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.cart-empty a:hover {
  text-decoration: underline;
}

.cart-empty__btns {
  margin: 16px 0;
  display: flex;
}

.cart-empty__btns button {
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  height: 31px;
  padding: 0 10px;
  font-size: 16px;
}

.signUp {
  margin-left: auto;
}

.cart-empty__btns a {
  width: auto;
}
.cart-signIn-btn {
  background: #ffd814;
  border: 1px solid #fcd200;
}
.cart-signIn-btn:hover {
  background: #e0be15;
}

.cart-signUp-btn {
  background: #fff;
  border: 1px solid #ddd;
  /* margin-left: 20px; */
}
.cart-signUp-btn:hover {
  background: #d6d6d6;
}

.cart-footer {
  padding: 15px;
}

.cart-footer p {
  font-size: 12px;
  text-align: left;
  margin: 0;
}
