.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
}

.home__container {
  width: 100%;
  margin-bottom: -350px;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
}

.home__row {
  display: flex;
  z-index: 1;
  margin: 0 5px;
}

@media (max-width: 1440px) {
  .home__container {
    margin-bottom: -300px;
  }
}

@media (max-width: 1300px) {
  .home__container {
    margin-bottom: -280px;
  }
}

@media (max-width: 1200px) {
  .home__container {
    margin-bottom: -260px;
  }
}

@media (max-width: 1150px) {
  .home__container {
    margin-bottom: -240px;
  }
}

@media (max-width: 1100px) {
  .home__container {
    margin-bottom: -220px;
  }
}

@media (max-width: 1024px) {
  .home__container {
    margin-bottom: -200px;
  }
}

@media (max-width: 940px) {
  .home__container {
    margin-bottom: -170px;
  }
}

@media (max-width: 850px) {
  .home__container {
    margin-bottom: -160px;
  }
}

@media (max-width: 768px) {
  .home__container {
    display: none;
  }
}
