.ad-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ad-info__title {
  font-size: 21px;
  line-height: 27.3px !important;
  margin-bottom: 10px;
}

.ad-info__image img {
  width: 100%;
}

.ad-info__link {
  margin-top: 20px;
}

.ad-info__link a {
  text-decoration: none;
  color: #007185;
  font-size: 13px;
}
