:root {
  --header-bg-main: #131921;
  --header-bg-secondary: #232f3e;
}

.header-hamburger {
  display: none;
}

.header-hamburger .MuiSvgIcon-root {
  color: #fff;
  height: 32px;
  width: 32px;
  margin-right: 0.3rem;
}

.header__nav-main {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  height: 60px;
  background-color: var(--header-bg-main);
}
.header__nav-main a {
  border: 1px solid transparent;
  border-radius: 3px;
}
.header__nav-main a:hover {
  border: 1px solid #ffff;
}

.nav-main__logo {
  display: flex;
  color: #ffff;
  margin-top: 10px;
  font-family: AmazonBold;
  padding: 3px;
}

.logo__img {
  width: 100px;
  height: 36.5px;
  object-fit: contain;
}

.nav-main__location {
  display: flex;
  justify-content: center;
  color: #ffff;
  height: 50px;
  align-items: center;
  padding: 0 10px;
}

.deliver-to {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0.1rem;
  font-family: AmazonReg;
  line-height: 14px;
}

.location-pin {
  width: 20px;
  height: 30px;
  color: white;
}

#delivert-to-top {
  color: #d4d4d4;
  font-size: 12px;
}
#delivert-to-bottom {
  font-size: 14px;
  font-family: AmazonBold;
}

.nav-main__user {
  display: flex;
  justify-content: space-evenly;
  color: #ffff;
  font-family: AmazonReg Arial, Helvetica, sans-serif;
  text-align: left;
  position: relative;
}

.nav-main__user a {
  color: #ffff;
  border: 1px solid transparent;
  border-radius: 3px;
}
.nav-main__user a:hover {
  border: 1px solid #ffff;
}
.user__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  justify-content: center;
  height: 40px;
}

.language-option {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.language-option img {
  object-fit: contain;
  width: 24px;
  height: 20px;
}
.language-option .MuiSvgIcon-root {
  display: flex;
  font-size: 1.2rem;
}
.language-flag {
  width: 50px;
}

.user-dropdown {
  display: none;
}

.user__optionLineOne {
  font-size: 12px;
  letter-spacing: 0.25px;
}
.user__optionLineTwo {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.25px;
}
.user__optionBasket {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  margin: 0 10px;
}

.optionBasket__cart-container {
  background: url("./cart.svg") no-repeat center center;
  background-size: contain;
  width: 38px;
  height: 39px;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.cart-container__count {
  font-size: 1rem;
  margin-left: 6px;
  margin-top: -2px;
  color: #f08804;
}

.optionBasket-text {
  font-size: 14px;
  align-self: end;
  margin-bottom: 4px;
  margin-right: 5px;
}

.headerDropdown {
  display: none;
}

@media (max-width: 1024px) {
  #language,
  #header-location {
    display: none;
  }
}

@media (max-width: 830px) {
  .orders,
  .optionBasket-text,
  #account {
    display: none;
  }
  .header-hamburger,
  .user-dropdown {
    display: flex;
  }
  .user-dropdown {
    flex-direction: row;
  }

  .user-dropdown:hover .dropDown-container {
    display: flex;
  }
  .user-dropdown img {
    height: 32px;
  }
  #userName {
    align-self: flex-end;
    font-size: 12px;
  }
  #userIcon {
    display: flex;
    align-items: center;
    padding-left: 7px;
  }
}

@media (max-width: 650px) {
  .header__nav-main {
    justify-content: space-between;
  }
}

@media (max-width: 375px) {
  .logo__img {
    width: 70px;
  }
}
