.shop-category {
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #fff;
  padding: 0 8px;
}

.shop-category_main {
  display: flex;
}

.shop_aside-header {
  font-size: 14px;
  font-weight: bold;
}

.shop_aside-list {
  list-style: none;
  margin-left: 9px;
  padding: 0;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  row-gap: 10px;
}

.aside-review-filter {
  padding: 0;
}

.review-filter {
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.review-filter img {
  height: 16px;
}
.review-filter span {
  font-size: 12px;
  padding-left: 5px;
}

.shop-main-main {
  width: 100%;
}

.shop_header {
  margin: 10px 0 10px 0;
  padding-left: 20px;
  background: #eeeeee;
}
.shop_header h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 0.25px;
}
.shop_header p {
  font-size: 12px;
  color: #666;
}

@media (max-width: 1210px) {
  .category-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 830px) {
  .shop_header h1 {
    font-size: 24px;
  }
}

@media (max-width: 700px) {
  .shop-category_main {
    flex-direction: column;
  }
  .aside-review-filter {
    margin-bottom: 0;
  }
}
