.items-slider__container {
  display: flex;
  align-items: center;
  margin: 0 10px;
  background: rgb(255, 255, 255);
  height: 364px;
  overflow-x: auto;
}

.items-slider__track {
  width: 100%;
  padding: 10px 20px;
  position: relative;
  margin: auto 0;
}

.items-slider__header {
  display: flex;
  align-items: center;
}

.items-slider__title {
  font-size: 21px;
}
.items-slider__link {
  font-size: 14px;
  text-decoration: none;
  margin-left: 15px;
  color: #007185;
}

.items-slider__link:hover {
  text-decoration: underline;
  color: #c7511f;
}

.slides-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 275px;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.slider-item {
  max-height: 275px;
}

.slider-item__img {
  min-height: 200px;
  width: auto;
}
.slider-item img {
  width: auto;
  height: auto;
  max-width: 270px;
  max-height: 200px;
  vertical-align: middle;
}

.slider-item {
  margin-right: 10px;
}

.items-slider__btn {
  height: 100px;
  padding: 0 18px;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.items-slider__btn span {
  font-size: 2rem;
}

.items-slider__btn--next {
  right: 20px;
}
.items-slider__btn--prev {
  left: 20px;
}

.blue {
  background: blue;
}

/* width */
.slides-wrapper::-webkit-scrollbar {
  height: 5px;
  cursor: pointer;
}

/* Track */
.slides-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.slides-wrapper::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

/* Handle on hover */
.slides-wrapper::-webkit-scrollbar-thumb:hover {
  background: #888888;
}

.items-slider__container:hover ::-webkit-scrollbar-thumb {
  background: rgba(167, 167, 167, 0.867);
}

.slides-wrapper a {
  text-decoration: none;
  color: #000;
}
.slides-wrapper__link {
  display: flex;
}
