.ad-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

.byFourAd-info__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.byFourAd-info__layout a {
  color: #000;
}

.ad-info__title {
  font-size: clamp(1.2rem, 2vw, 1.31rem);
  line-height: 27.3px !important;
  margin-bottom: 10px;
}

.sm-ad img {
  width: 100%;
}

.sm-ad-description p {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-size: 12px;
}

.ad-info__link {
  margin-top: 20px;
}

.sm-ad-link {
  margin-top: 5px;
}

.ad-info__link a {
  text-decoration: none;
  color: #007185;
  font-size: 13px;
}

@media (max-width: 630px) {
  .ad-info {
    justify-content: space-evenly;
  }
  .sm-ad-image {
    height: 185px;
  }
  .ad-info__link a {
    font-size: 16px;
  }
  .sm-ad-description p {
    font-size: 13px;
  }
}

@media (max-width: 530px) {
  .sm-ad-link {
    margin-top: 15px;
  }
}
