* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AmazonReg;
  src: url("./amazonember_rg-webfont.woff2");
}
@font-face {
  font-family: AmazonBold;
  src: url("./amazonember_bd-webfont.woff");
}
