* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AmazonReg;
  src: url("./App-fonts/amazonember_rg-webfont.woff2");
}
@font-face {
  font-family: AmazonBold;
  src: url("./App-fonts/amazonember_bd-webfont.woff");
}

body {
  background-color: #eaeded;
  font-family: AmazonReg;
}

a {
  text-decoration: none;
}
