* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AmazonReg;
  src: url("./App-fonts/amazonember_rg-webfont.woff2");
  font-display: swap;
}
@font-face {
  font-family: AmazonBold;
  src: url("./App-fonts/amazonember_bd-webfont.woff");
  font-display: swap;
}

body {
  background-color: #eaeded;
  font-family: AmazonReg;
}

a {
  text-decoration: none;
}

.App {
  max-width: 1500px;
  width: 100vw;
  margin-inline: auto;
}

@media screen and(min-width: 1440px) {
  body {
    background-color: black;
  }
}
