.shipping-container {
  text-align: left;
  background: #f8f9fa;
  color: #333333;
  padding: 30px;
}

.shipping-wrapper {
  max-width: 540px;
  margin: 0 auto;
}

.formInput {
  display: flex;
  flex-direction: column;
}

.formInput #country {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  height: 31px;
  background: -webkit-linear-gradient(top, #f7f8fa, #e7e9ec);
  border-radius: 3px;
  box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
  border-color: rgb(133, 133, 133);
  padding: 0 24px 0 11px;
  margin-bottom: 10px;
  outline: none;
}

.formInput input {
  height: 31px;
  padding: 3px 7px;
  font-family: Arial, sans-serif;
  border-radius: 3px;
  font-size: 13px;
  border: 1px solid #d0d0d0;
  border-top: 1px solid #bbb;
  box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
  outline: 0;
  margin-bottom: 5px;
}

.formInput input:focus,
.formInput #country:focus {
  border: 1px solid #ff9100;
  box-shadow: 0 0 5px #ff9100;
}

.shipping-wrapper h1 {
  font-size: 28px;
}
.shipping-wrapper-title {
  font-size: 21px;
  font-family: AmazonBold;
}

#shipping-form {
  font-size: 13px;
  font-family: AmazonBold;
}

.shipping-tel p {
  font-size: 11px;
  font-family: AmazonReg;
}

.delivery-title {
  font-family: AmazonBold;
  font-size: 17px;
  margin-top: 1rem;
}

.delivery-time {
  display: flex;
  margin-bottom: 1rem;
}

.delivery-time label {
  margin-left: 0.5rem;
}

.delivery-time span {
  display: flex;
  align-items: center;
  width: 100%;
}

.addressType {
  margin-bottom: 10px;
}

.shipping-form-btn {
  background: -webkit-linear-gradient(top, #f7dfa5, #f0c14b);
  width: 94px;
  height: 29px;
  border-radius: 3px;
  border-color: #cba957 #bf942a #aa8326;
  border-style: none;
  font-family: Arial, sans-serif;
}

#defaultAddress {
  margin-right: 0.5rem;
}

.defaultAddress {
  display: flex;
  align-items: center;
}
