.orders-wrapper {
  background-color: #fff;
}

.orders-container {
  width: min(90vw, 920px);
  margin: 0 auto;
  text-align: left;
}

.orders-header {
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 1rem;
}

.orders-title {
  margin-bottom: 8px;
  font-size: 28px;
  font-weight: bold;
}

.orders-shippedTo {
  color: #565959;
  margin-bottom: 0;
}

@media (max-width: 375px) {
  .orders-title {
    font-size: 20px;
  }
  .orders-shippedTo {
    font-size: 13px;
  }
}
